.container {
    font-size: clamp(8rem, 25vw, 16rem); 
    text-align: center;
    font-weight: bold;
    line-height: 1.1;
}

/* 
font-size: clamp(8rem, 25vw, 16rem); 
8rem = tamanho minimo da font e 16rem = tamanho máximo da font 25vw = máximo da tela
a font fica adptavel
*/