.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #0a0f1a;
}

.menuLink svg:hover{
    background-color: #A60303;
    transition: background-color .5s;
}

.menuLink svg{ /* edição do icone timer */
    width: 45px;
    height: 45px;
    background-color: #F20519;
    border-radius: 7px;
    padding: 10px;
    margin: 8px;
}