:root[data-theme='light'] {
  --background: #D9D9D9;
  --text-default: black;
}

:root{
  --text-default: #e6e9f0;
  --background: #262626;
}

/* vermelho para testar como primary #F20519 
   amarelo para testar #F2CB05
   amarelo mais escuro para testar #D9A404
   vermelho mais escuro para testar #A60303
*/