.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #F20519;
  text-decoration: none;
  padding: 2px;
  font-size: 12px;
  font-family: monospace;
}

.footer:hover{
  text-decoration: underline;
  font-weight: bold;
}